<div class="container">

    <div class="column-1 box">
        <img src="../assets/location.png" alt="Globe location icon" width="50" height="50">
        <h1>Address</h1>
        <p>
           1234 Ravenclaw Wizardry<br>
           Ravenclaw, Potterworld
        </p>
    </div>

    <div class="column-2 box">
        <img src="../assets/phone.png" alt="Phone icon" width="50" height="50">
        <h1>Phone</h1>
        <p>
            Office #: (789)791-1379<br>
            Email: loanapp@ravenclaw.com<br>
        </p>
    </div>
 </div>
