
<div class="container">

  <h2>Hans Zimmer</h2>

  <br />

  <div class="row">
    <div class="col-sm-6">
      <img src="../../assets/hans-zimmer.jpg" alt="Picture of Hans Zimmer" style="height: 500px;width:400px">
      <figcaption>Photo Source: https://www.dreamstime.com/photos-images/hans-zimmer.html</figcaption>
    </div>

    <div class="col-sm-6">

      <p>
        Hans Zimmer, born in Frankfurt Germany in 1957.When he was a teenager his family moved to London.
        He is a film score composer and music producer. To his credit he has composed music for over 100 films including The Lion King,
        Gladiator, Dunkirk and Black Hawk Down. For his work on the Lion King, he received an Academy Award for Best Music (Original Score),
        a Golden Globe, and two Grammys. He is also the composer behind the work for Christopher Nolan’s Batman Begins and The Dark Knight.
      </p>

    </div>
  </div>
</div>
