<div fxLayout="row wrap">
    <div fxFlex>
      <div fxLayout="column" style="text-align: center">
        <div>
          <img
            src="../assets/ravenclaw_banner.png"
            style="max-width: 350px"
            alt=""
          />
        </div>

      </div>
    </div>

    <div fxFlex style="text-align: left">
      <div fxLayout="column">
        <h1>About</h1>
        <p>
          	Loan_App has been providing loans to the citizens of House Ravenclaw for more than 15 years. The beginnings of Loan_App start back in the year 2000.
            With the community lacking a local lending company, Helena Ravenclaw saw an opportunity to provide a much-needed service to the citizens of Ravenclaw.
            Rowena has lived her whole life in Ravenclaw, in fact, the name of the town was named after her Great-Great-Great-Great-Great Grandmother Rowena.
            At present, Loan_App has four employees to Help their customers in need. Perpetua Fancourt is the loan officer. Myrtle Warren is the bank teller.
            Olivia Green is the mortgage consultant. Penelope Clearwater is the financial advisor.
        </p>
        <p>
            Just recently they have added a new loan calculator to their web site. This calculator will allow customers to enter details on a loan such as the loan amount,
            interest rate, and number of years and the calculator will give you a monthly payment as well as the amount of interest that will be paid over the life of the loan.
        </p>
        <p>
            I don’t know much about the different houses, I chose House Ravenclaw because I liked their colors and what they represented. Taken from the page of the
            Harry Potter Wiki, https://harrypotter.fandom.com/wiki/Ravenclaw, here is a bit of backstory to House Ravenclaw. Ravenclaw was one of the four Houses of
            Hogwarts School of Witchcraft and Wizardry. Its founder was the medieval witch, Rowena Ravenclaw. Members of this house were characterized by their wit, learning,
            and wisdom. The emblematic animal symbol was an eagle, and blue and bronze were its colors. The Head of Ravenclaw was Filius Flitwick, and the House ghost was the Grey Lady,
            real name Helena Ravenclaw, daughter of Rowena.
        </p>
      </div>
    </div>
  </div>
