<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>123 Main St.</p>
      <p>Maine, Florida</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>Direct: 123-456-7890</p>
      <p>E-mail: stephenking@stephenking.com</p>
    </mat-card-content>
  </div>
</div>
